{% extends "root/base.html" %}
{% load i18n %}
{% block content %}

<br>
<br>
<br>
<center>
<h2>{%translate "Ticket created" %}</h2>

<strong>{%translate "Description" %}:</strong> {{ticket.name}}<br>
<strong>{%translate "Earliest date for appointment" %}</strong> {{ticket.first_available_date}}<br>
<strong>{%translate "Duration" %}:</strong> {{ticket.duration}}

<br>
<br>

    {%translate "Send this link to the customer so that an appointment can be made" %}:
    <div id="link" style="text-decoration: underline">{{share_url}}<br></div>
    <small id="message">{%translate "Click on the link to copy in the clipboard" %}</small>


<br>
<br>

{% if invitation_text %}
<strong>{%translate "Invitation text for email" %}:</strong>
    <div style="text-align: left;">
    <code id="invitation_text" style="white-space: pre;">{{ invitation_text }}</code>
    </div>
    <small id="message_invitation">{%translate "Click on the text to copy in the clipboard" %}</small>
    {% endif %}

<br>
<br>
<br>

<a href="{% url "index" %}" role="button">{%translate "Back to home" %}</a>

</center>

<script>
// Copy to clipboard
document.getElementById('link').style.cursor = 'pointer';
document.getElementById('link').addEventListener('click', function(e) {
    e.preventDefault();
    var text = this.textContent;
    var input = document.createElement('input');
    input.value = text;
    document.body.appendChild(input);
    input.select();
    document.execCommand('copy');
    document.body.removeChild(input);
    document.getElementById('message').textContent = '{%translate "Link was copied into clipboard" %}!';
});

{% if invitation_text %}
document.getElementById('invitation_text').style.cursor = 'pointer';
document.getElementById('invitation_text').addEventListener('click', function(e) {
    // Get textContent (preserves newlines because of your white-space: pre CSS)
    const text = document.getElementById('invitation_text').textContent;
    
    navigator.clipboard.writeText(text).then(() => {
        document.getElementById('message_invitation').textContent = '{%translate "Invitation text was copied into clipboard" %}!';
    }).catch(err => {
        console.error('Failed to copy: ', err);
    });
});
{% endif %}
</script>

{% endblock %}