{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark" />
        <link rel="stylesheet" href="{% static "root/css/pico.min.css" %}" />
        <title>Booking</title>
    </head>
<body>

<div class="container">

    <nav >
        <ul>
            <li>
                <a href="/" class="contrast"><strong>Booking</strong></a>
            </li>
        </ul>
        <ul>
            {% comment %} <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Products</a></li> {% endcomment %}
            {% if request.user.is_authenticated %}
            <ul>
                {% comment %} <li><a href="#" class="secondary">Services</a></li> {% endcomment %}
                <li>
                  <details class="dropdown">
                    <summary>
                        {% if request.user.profile.picture %}
                            <img src="/media/{{ request.user.profile.picture }}" alt="{{ request.user.username }}" class="avatar" style="height: 1.5rem;" />
                        {% else %}
                            {{ request.user.username }}
                        {% endif %}
                    </summary>
                    <ul dir="rtl">
                      <li><a href="{% url "profile" %}">Profil</a></li>
                      <li><a href="{% url "change_password" %}">Passwort ändern</a></li>
                      <li><a href="{% url "logout" %}">Ausloggen</a></li>
                    </ul>
                  </details>
                </li>
              </ul>
        {% endif %}
        </ul>
    </nav>
    
    <br><br>

    {% block content %}

    {% endblock %}

    <br>
    <br>

</div>

</body>
</html>
