{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static "root/css/pico.min.css" %}" />

    </head>
<body>

<div class="container">

    <nav>
        <ul>
            <li><strong>Acme Corp</strong></li>
        </ul>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Products</a></li>
        </ul>
    </nav>

    {% block content %}

    {% endblock %}

    <br>
    <br>

</div>

</body>
</html>
