{% extends "root/base.html" %}
{% load i18n %}
{% block content %}

<h2> {% translate "Edit" %} {{ name }} </h2>

{% if description %} {{ description | safe }} <br> <br> {% endif %}

{% if message != "" %}
<p><strong>{{ message | safe }}</strong></p>
{% endif %}

{% if delete_url %}
<button class="contrast outline"
data-target="modal-deletion"
onClick="toggleModal(event)">
LÖSCHEN
</button>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% if display_buttons_at_top %}
        <div class="grid">
            <div>
                <a href="{{back}}"role="button" class="secondary" style="display: block;">{% translate "Back" %}</a>
            </div>
            <input type="submit" value="{%translate "Save" %}">
        </div>
    {% endif %}
    {{ form }}
    <br>
    <div class="grid">
        <div>
            <a href="{{back}}"role="button" class="secondary" style="display: block;">{% translate "Back" %}</a>
        </div>
        <input type="submit" value="{%translate "Save" %}">
    </div>
</form>


{% comment %} Confirmation for deletion {% endcomment %}
<dialog id="modal-deletion">
    <article>
        <a href="#close"
        aria-label="Close"
        class="close"
        data-target="modal-deletion"
        onClick="toggleModal(event)">
        </a>
        <h3>{% translate "Confirmation" %}</h3>
        <p>
        {% translate "This action cannot be undone!" %}
        </p>
        <footer>
        <a href="#cancel"
            role="button"
            class="secondary"
            data-target="modal-deletion"
            onClick="toggleModal(event)">
            {% translate "Cancel" %}
        </a>
        <a href="{{delete_url}}" role="button" class="contrast">{% translate "DELETE" %}</a>
        </footer>
    </article>
</dialog>
    
{% endblock %}
